form {
    display: grid;
    font-family:'Courier New', Courier, monospace;
    width: 450px;
    height: 300px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 3fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
}

.card-front {
    display: grid;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 200px;
    background-color: #cccbcb;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
   
}

.card-back {
    display: grid;
    position: absolute;
    z-index: 1;
    top: 25px;   
    left: 120px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 200px;
    background-color: #cccbcb;
    /* grid-row: 2;
    grid-column: 2; */
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.cvc-container {
    grid-row: 3;
    grid-column: 2;
}

#card-cvc {
    width: 60px;
}

.amount {
    grid-column: 1;
    grid-row: 1;
    padding: 15px;
}

.number-box {
    grid-row: 2;
    padding-left: 10px;
}

.name-box {
    padding-left: 10px;
}

#owner-name {
    border: 1px solid #000000;
}

#card-number {
    border: 1px solid #000000;
}

.hidden {
    display: none;
}

.exp-container {
    grid-row: 3;
    grid-column: 2;
    padding-right: 10px;
    
}

#card-month {
    width: 25px;
    border: 1px solid #000000;
}

#card-year {
    width: 25px;
    border: 1px solid #000000;
}

#card-btn {
    grid-row: 3;
    grid-column: 3;
    /* justify-self: end;
    align-self: end; */
    margin: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.card-image {
    grid-row: 1;
    grid-column: 2;
    padding-top: 10px;
    margin: 0 auto;
}

.stripe {
    background-color: black;
    grid-column: 1/ -1;
    margin-top: 15px;
}

.errorMsg {
    grid-row: 3;
}