@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Patrick+Hand&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
}

header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #8a8585;
    margin-bottom: 15px;
}

p {
    font-family: var(--primary-font);
}

.hidden {
    display: none;
}

.recipe {
    border: 1px solid #0a0a0a;
    border-radius: 12px;         
    padding: 20px;               
    background-color: #f9f9f9;    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

main {
    font-family: var(--primary-color);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Patrick Hand";
}

h2 {
    font-family: "Patrick Hand";
    color:#1B98E0;
}

header img{
    width: 100px;
}

#search-btn {
    width: 25px;
}

.dessert_tag {
    width: fit-content;
    border: 1px solid #8a8585;
    font-family: var(--primary-font);  
    padding: 7px;               
    background-color: #f9f9f9;    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
    gap: 10px;
    width: auto;
    margin-top: 30px;
    font-family: var(--primary-font);
    font-size: 10px;
    color: #59c3c3;
    text-align: center;
   
}

footer a {
    color: #01659f;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.icons a {
  margin: 5px;
  padding: 10px;
}

.social img {
    width: 30px;
    height: 30px;
}

@media (min-width: 600px) {

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .recipe {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .dessert_tag {
    grid-column: 2;
    grid-row: 1;
    height: 20px;
  }

  h2 {
    padding-top: 40px;
    margin: 0;
  }

  .info {
    grid-column: 2;
    grid-row: 1;
  }


  #search-bar {
    width: 90%;
  }

  .hidden {
    display: flex;
  }

  .social {
    grid-column: 2;
  }

  #link-txt {
    justify-self: start; 
    margin-left: 40px;
    margin-top: 20px;
    grid-row: 1;
  }

  .icons a{
    margin: 0;
  }

  .icons {
    margin-left: 190px;
  }

}


@media (min-width: 960px) {
  body {
    max-width: 960px;
    margin: 0 auto; 
  }
}